@font-face {
    font-family: 'Baemin';
    src: url("../fonts/hanna.otf") format("opentype");
}

@font-face {
  font-family: 'Jua';
  src: url("../fonts/jua.otf") format("opentype");
}

html {
  font-family: 'Baemin';
  background-color: #DDEBF0;
}

.main {
  margin-top: 40px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;

}

.banner {
  width: 250px;
  position: fixed;
  left: 0px;
  top: 0px;
  font-family: 'Jua';
  padding: 40px;
  height: 100%;
  font-size: 180px;
  background-color: #000;
  color: #FFF;

  text-align: center;
  box-shadow: 5px 0px 9px #777;
}

.letter {
  margin-bottom: 40px;
  display: inline-block;

}

.intro_title {
  width: 100%;
  text-align: center;

  font-size: 60px;

}

.person {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
  border-style: solid;
  border-top: 1px double #acacac;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.person_top {
  border-top: none !important;
}

div.profilepic{
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 1;

    border-style: solid;
    border-width: 2px;
    border-color: #000;

    margin-bottom: 20px;
}

.profilepic .width {
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);

  max-height: 200px;
  margin-left: 50%;
}

.profilepic .height {
    -webkit-transform:translate(-50%);
    -moz-tranform:translate(-50%);
    -ms-transform: translate(-50%); /* IE 9 */
    transform: translate(-50%);

    max-width: 200px;
    margin-left: 50%;

}

.name {
  font-size: 30px;
  margin-bottom: 20px;
}

.summary {
  width:480px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  line-height:20px;
  color: #5c5c5c;
}

.sns_icon {
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.sns_icon:hover {
  cursor: pointer;
}

.sns_links {
  margin-bottom: 20px;
}
